body {
    background-image: url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F6%2F5317e66c778ae.jpg%3Fdown&refer=http%3A%2F%2Fpic1.win4000.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1637672317&t=37180161e169886d909d68f4b7d3ff16);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 15%;
}

form {
    position: absolute;
    width: 300px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 40px;
    padding-right: 0;
    left: 50%;
    margin-left: -191px;
    top: 20%;
    opacity: 0.5;
    background-color: white;
    box-shadow: 0px 0px 2px grey;
    transform: scale(1.3);
}

form input {
    list-style: none;
    outline: none;
    margin-top: 10px;
    background-color: initial;
    border: none;
    border-bottom: 1px solid black;
}

form input[type = "submit"] {
    border: none;
    height: 20px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: green;
    border-radius: 5px;
    color: white;
}

form input[type = "submit"]:hover {
    background-color: white;
    color: green;
    border: 1px solid green;
}
a{
    text-decoration: none;
    display: inline-block;
    border: none;
    height: 18px;
    width: 67%;
    margin: 0 auto 0 9%;
    margin-top: 20px;
    background-color: green;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    text-align: center;
}
