* {
    margin: 0;
    padding: 0;
}
form {
    width: 50%;
    margin: 150px auto;
    transform: scale(1.5);
}

input {
    outline: none;
}

form table {
    margin: 0 auto;;
}

form table tr:nth-child(4) td{
    text-align: center;
}

form table tr:nth-child(4) td input {
    color: green;
    padding: 0px 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid green;
}

form table tr:nth-child(4) td input:hover {
    color: white;
    background-color: green;
}



