.mid {
    margin: 0 auto;
    width: 80%;
}

body {
    background-color: #f5f5f5;
}

a {
    color: black;
    text-decoration: none;
}

.spa {
    background-color: orange;
    width: 100%;
    height: 20px;
    margin-top: -16px;
}

.spa .custom-login li {
    float: right;
    list-style: none;
    margin: 0 5px;
    line-height: 20px;
}

.spa .custom-login li:hover a{
    color: white;
}

.spa .custom-login {
    margin-right: 10%;
}

.title {
    overflow: hidden;
}

.logo img {
    margin-top: 10px;
    float: left;
    width: 12%;
}

.title span {
    float: left;
    margin-left: 20px;
    padding: 10px;
    margin-top: 15px;
    font-size: 45px;
    color: orange;
    font-family: cursive;
    text-shadow: 2px 2px 1px black;
    font-weight: 800;
}

.search {
    width: 420px;
    float: right;
    margin-right: 10%;
}

.search .search-field {
    margin-top: 30px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: white;
}

.search .input {
    height: 30px;
    width: 94%;
    border-radius: 15px;
    border: none;
    outline: none;
    margin-left: 15px;
}

.search .btn {
    border: none;
    margin-left: -60px;
    height: 30px;
    width: 50px;
    font-size: 18px;
    border-radius: 15px;
}


.goods .agood {
    float: left;
    width: 24%;
    background-color: #fff;
    text-align: center;
    margin-right: 2px;
    margin-top: 5px;
}

.goods .agood:hover {
    box-shadow: 5px 5px 5px rgba(196, 196, 196, 0.7);
    margin-top: 4px;
}


.goods .agood img {
    margin-top: 20px;
    width: 90%;
}

.goods .agood h4 {
    margin: 0 0;
    padding: 10px;
    font-size: 20px;
    color: grey;
}

.goods .agood:hover h4 {
    color: darkorange;
}

    .pages{
        width: 500px;
        height: auto;
        margin: 10px auto;
    }
    .pages a{
        text-decoration: none;
        display: inline-block;
        width: auto;
        height: 30px;
        background-color: rgb(146, 146, 146);
        text-align: center;
        line-height: 30px;
        border: gray 2px solid;
        color: aliceblue;
        padding: 0 6px;
    }
    form{
        margin:0px;
        display: inline-block;
        
    }
    .change{
        display: inline-block;
        width: 80px;
        height: 30px;
        background-color: rgb(146, 146, 146);
        text-align: center;
        line-height: 30px;
        border: gray 2px solid;
        color: aliceblue;
    }
    form input[type="text"]{
        height: 15px;
        line-height: 15px;
        
    }
    form input[type="submit"]{
        width: auto;
        height: 30px;
        background-color: rgb(146, 146, 146);
        text-align: center;
        line-height: 30px;
        border: gray 2px solid;
        color: aliceblue;
        padding: 0 6px;
    }
    form input[type="submit"]:hover{
        background-color: rgb(170,216,62);
    }
    .pages a:hover{
        background-color: rgb(170,216,62);
    }
