* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.mid {
    margin: 0 auto;
    width: 80%;
}

body {
    background-color: #f5f5f5;
}

.blank {
    height: 100px;
    width: 100;
}

.box {
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
    height: 100%;
    width: 1242px;
}

.box .rotation {
    position: relative;
    float: left;
    width: 500px;
    height: 370px;
    margin-right: 10px;
    overflow: hidden;
}


.box .rotation .prev,
.box .rotation .next {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    text-align: center;
    width: 30px;
    height: 50px;
    background-color: rgba(43, 51, 127, 0.7);
    text-align: center;
    line-height: 45px;
    font-size: 30px;
    color: #fff;
    z-index: 2;
}

.box .rotation .prev {
    left: 0;
}

.box .rotation .next {
    right: 0;
}


.box .rotation ul {
    width: 400%;
    position: absolute;
    top: 0;
    left: 0;
}

.box .rotation ul li img {
    float: left;
    height: 370px;
    width: 500px;
    vertical-align: bottom;
}

.box .rotation .point {
    position: absolute;
    width: 78px;
    bottom: 16px;
    right: 14px;
}

.box .rotation .point li {
    float: left;
    height: 10px;
    width: 10px;
    line-height: 10px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    border-radius: 50%;
    margin: 0 8px;
}

.box .rotation .point .current {
    background-color: #fff;
    opacity: 1;
}


.box .text {
    position: relative;
    float: left;
    padding: 0 20px;
    width: 50%;
    height: 370px;
}

.box .goodname {
    color: #000;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}

.box .goodcontro {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    height: 150px
}

.box .price {
    position: absolute;
    bottom: 60px;
    margin-left: 20px;
    color: #5f5f5f;
    font-size: 20px;
}

.box .back,
.box .buy {
    position: absolute;
    bottom: 0px;
    margin-left: 20px;
}

.box .back {
	margin-left: 250px
}

.box .back input,
.box .buy input {
    color: #000;
    font-weight: 700;
    font-size: 15px;
    width: 200px;
    height: 40px;
    border-radius: 15px;
}
.box .back:hover input,
.box .buy:hover input {
    background-color: orange;
    color: #fff;
}