
table {
    text-align: center;
    margin: 0 auto;
    overflow: scroll;
    margin-top: 20px
}


table tr td:nth-child(1) {
    width: 30%;
}

table tr td:nth-child(1) img {
    width: 60%;
    margin: 5px auto;
}

table td a {
    text-decoration: none;
    color: green;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border: 1px solid green;
    border-radius: 20px;
}

table td a:hover {
    background-color: green;
    color: white;
}
.p{
    width: 500px;
    height: auto;
    margin: 10px auto;
}
.p a{
    text-decoration: none;
    display: inline-block;
    width: auto;
    height: 30px;
    background-color: rgb(146, 146, 146);
    text-align: center;
    line-height: 30px;
    border: gray 2px solid;
    color: aliceblue;
    padding: 0 6px;
}
form{
    margin:0px;
    display: inline-block;
        
}
.change{
        display: inline-block;
        width: 80px;
        height: 30px;
        background-color: rgb(146, 146, 146);
        text-align: center;
        line-height: 30px;
        border: gray 2px solid;
        color: aliceblue;
    }
    form input[type="text"]{
        height: 15px;
        line-height: 15px;
        
    }
    form input[type="submit"]{
        width: auto;
        height: 30px;
        background-color: rgb(146, 146, 146);
        text-align: center;
        line-height: 30px;
        border: gray 2px solid;
        color: aliceblue;
        padding: 0 6px;
    }
    form input[type="submit"]:hover{
        background-color: rgb(170,216,62);
    }
    .p a:hover{
        background-color: rgb(170,216,62);
    }
