#main .goods{
    /* border: 1px solid #000; */
    width: 70%;
    margin: 0 auto;
    margin-top: 20px
}
#main .goods table{
    width: 100%; 
    text-align: center;
    border-collapse: collapse;
}


#main .goods table td{
    width: 50%;
}

