    #main .goods{
        margin: 20px auto; 
        border: 1px solid #000; 
        width: 60%; 
        padding: 5px;
    }
    .goodmes{
        height: 100px; border-bottom: 1px solid #000; line-height: 100px;
    }
    .pic{
        width: 80px; height: 80px; border: 1px solid pink; margin-left: 10px;
    }
    .buyer{
        height: auto; margin-top: 10px; border-top: 1px solid #000;
    }
    table{
        width: 100%; text-align: center;
    }
    .first td{
        width: 25%;
    }
    .first td:nth-child(3){
        width: 30%;
    }
    ul li:nth-child(4) a{
		background-color: #f7d024;
        color: black;
	} 